{% raw %}
name: R CI
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: {% raw %}${{{{ matrix.os }}}}{% endraw %} 
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: "{{ version }}"
      - name: Install renv
        run: Rscript -e 'install.packages("renv")'
      - name: Restore or install dependencies
        run: Rscript -e 'if (file.exists("R/renv.lock")) renv::restore(project = "R") else install.packages("testthat")'
      - name: Run tests
        run: Rscript -e 'testthat::test_dir("tests/testthat")'
{% endraw %}