base_path <- normalizePath(file.path(dirname(sys.frame(1)$ofile), ".."))
interim_data <- file.path(base_path, "data", "01_interim")
processed_data <- file.path(base_path, "data", "02_processed")

build_model <- function(data) {
model <- lm(mpg ~ wt + hp, data = data)
if (!dir.exists(processed_data)) dir.create(processed_data, recursive = TRUE)
saveRDS(model, file.path(processed_data, "mtcars_model.rds"))
return(model)
}

main <- function() {
print("Running modeling...")
data <- readRDS(file.path(interim_data, "mtcars_interim.rds"))
build_model(data)
}

main()
