library(palmerpenguins)
source("s02_utils.R")

paths <- get_paths()

s03_data_collection <- function() {
  ensure_dir(paths$raw)
  save_rds(penguins, file.path(paths$raw, "penguins_raw.rds"))
  cat("Data collection complete.\n")
}
