import os, pickle

base_path = os.path.abspath(os.path.join(os.path.dirname(__file__), ".."))
raw_data = os.path.join(base_path, "data", "00_raw")
interim_data = os.path.join(base_path, "data", "01_interim")

def preprocess_data(data):
    data['mpg_z'] = [(x - sum(data['mpg'])/len(data['mpg'])) for x in data['mpg']]
    if not os.path.exists(interim_data):
        os.makedirs(interim_data)
    with open(os.path.join(interim_data, 'mtcars_interim.pkl'), 'wb') as f:
        pickle.dump(data, f)
    return data

def main():
    print("Running preprocessing...")
    with open(os.path.join(raw_data, 'mtcars_raw.pkl'), 'rb') as f:
        data = pickle.load(f)
    preprocess_data(data)

if __name__ == "__main__":
    main()