base_path <- normalizePath(file.path(dirname(sys.frame(1)$ofile), ".."))
raw_data <- file.path(base_path, "data", "00_raw")
interim_data <- file.path(base_path, "data", "01_interim")
processed_data <- file.path(base_path, "data", "02_processed")

library(dplyr)

preprocess_data <- function(data) {
data <- data %>% mutate(mpg_z = scale(mpg))
if (!dir.exists(interim_data)) dir.create(interim_data, recursive = TRUE)
saveRDS(data, file.path(interim_data, "mtcars_interim.rds"))
return(data)
}

main <- function() {
print("Running preprocessing...")
data <- readRDS(file.path(raw_data, "mtcars_raw.rds"))
preprocess_data(data)
}

main()
