* Main runner

do install_dependencies.do

do s03_data_collection.do
do s04_preprocessing.do
do s05_modeling.do
do s06_visualization.do

data_collection_main
preprocessing_main
modeling_main
visualization_main