clear all
cls

do s02_utils.do
get_paths

do s03_data_collection.do
s03_data_collection

do s04_preprocessing.do
s04_preprocessing

do s05_modeling.do
s05_modeling

do s06_visualization.do
s06_visualization

display "✅ Pipeline complete."
