* s03_data_collection.do

program define s03_data_collection
    ensure_dir "$raw_data"

    clear
    input mpg wt hp
    21 2.5 110
    22 2.8 105
    18 3.2 120
    end

    save "$raw_data/mtcars_raw.dta", replace
    display "Data collection complete."
end
