* Data collection code
global base_path ".."
global raw_data "$base_path/data/raw"

program define data_collection_main
    mkdir "$raw_data"
    tempfile temp
    input mpg wt hp
    21 2.5 110
    22 2.8 105
    18 3.2 120
    end
    save "$raw_data/mtcars_raw.dta", replace
    display "Data collection done"
end
                        
data_collection_main