* Visualization code
global base_path ".."
global interim_data "$base_path/data/01_interim"
global processed_data "$base_path/data/02_processed"
global figures "$base_path/results/figures"

program define visualization_main
    mkdir "$figures"
    use "$interim_data/mtcars_interim.dta", clear
    scatter mpg wt
    graph export "$figures/actual_vs_predicted.png", replace
    display "Visualization done"
end

visualization_main