% Modeling code
base_path = fullfile(fileparts(mfilename('fullpath')), '..');
interim_data = fullfile(base_path, 'data', '01_interim');
processed_data = fullfile(base_path, 'data', '02_processed');

function s05_modeling()
    if ~exist(processed_data, 'dir')
        mkdir(processed_data);
    end
    load(fullfile(interim_data, 'mtcars_interim.mat'));
    model = fitlm(wt, mpg);
    save(fullfile(processed_data, 'model.mat'), 'model');
    disp('Modeling done');
end

s05_modeling();