# {{ project_name }}

{{ project_description }}

## 📇 Contact Information

{{ contact }}

<details>
<summary>📋 System and Environment Information</summary>

{{ system_spec }}

</details>

<details>
<summary>🚀 Project Activation</summary>

{{ activate }}

</details>

<details>
<summary>📅 Unit Testing and Continuous Integration (CI)</summary>

{{ ci_tools }}

</details>

<details>
<summary>🔧 CLI Tools</summary>

{{ cli_tools }}

</details>

<details>
<summary>🗂️ Configuration Files (Root-Level)</summary>

{{ config }}

</details>

<details>
<summary>💻 Installation</summary>

{{ install }}

</details>

<details>
<summary>📜 Script Structure and Usage</summary>

{{ usage }}

</details>

<details>
<summary>📦 Dataset List</summary>

```
set-dataset
```

| Name | Location | Hash | Provided | Run Command | Number of Files | Total Size (MB) | File Formats | Source | DOI | Citation | License | Notes |
|------|----------|------|----------|-------------|------------------|------------------|---------------|--------|-----|----------|---------|-------|

</details>

<details>
<summary>Code & Dataset Network Analysis</summary>
</details>

<details>
<summary>📁 Project Directory Structure</summary>

```text
{{ project_tree }}
```

</details>

<details>
<summary>📚 Creating a Replication Package Based on DCAS</summary>

{{ dcas }}

</details>