get_paths <- function() {
  base_path <- normalizePath(file.path(dirname(sys.frame(1)$ofile), ".."))
  list(
    base = base_path,
    raw = file.path(base_path, "data", "00_raw"),
    interim = file.path(base_path, "data", "01_interim"),
    processed = file.path(base_path, "data", "02_processed"),
    figures = file.path(base_path, "results", "figures")
  )
}