# Main: Running all steps in order
def main():
    # Main runner
    import s01_install_dependencies
    s01_install_dependencies.main()

    import s02_utils
    import s03_data_collection
    import s04_preprocessing
    import s05_modeling
    import s06_visualization


    s03_data_collection.main()
    s04_preprocessing.main()
    s05_modeling.main()
    s06_visualization.main()

if __name__ == "__main__":
    main()