from sklearn.datasets import load_iris
from s02_utils import save_pickle, ensure_dir_exists, get_paths
import os

def collect_data():
    paths = get_paths()
    ensure_dir_exists(paths["raw"])
    iris = load_iris(as_frame=True)
    save_pickle(iris, os.path.join(paths["raw"], "iris_raw.pkl"))

def main():
    print("Collecting Iris dataset...")
    collect_data()

if __name__ == "__main__":
    main()
