from s02_utils import load_pickle, save_pickle, ensure_dir_exists, get_paths
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import os

def build_model():
    paths = get_paths()
    ensure_dir_exists(paths["processed"])

    data = load_pickle(os.path.join(paths["interim"], "iris_interim.pkl"))
    model = LogisticRegression(max_iter=200).fit(data['X'], data['y'])
    save_pickle(model, os.path.join(paths["processed"], "iris_model.pkl"))

    acc = accuracy_score(data['y'], model.predict(data['X']))
    print(f"Training accuracy: {acc:.2f}")

def main():
    print("Modeling Iris data...")
    build_model()

if __name__ == "__main__":
    main()
