* Preprocessing code
global base_path ".."
global raw_data "$base_path/data/00_raw"
global interim_data "$base_path/data/01_interim"

program define preprocessing
    mkdir "$interim_data"
    use "$raw_data/mtcars_raw.dta", clear
    gen mpg_z = (mpg - mean(mpg))
    save "$interim_data/mtcars_interim.dta", replace
    display "s04_Preprocessing done"
end

preprocessing