{% raw %}
% Main: Running all steps in order

% Install dependencies
run('s01_install_dependencies.m');

% Load utility functions (not executed)
run('s02_utils.m');

% Run data collection
s03_data_collection_main();

% Run preprocessing
s04_preprocessing_main();

% Run modeling
s05_modeling_main();

% Run visualization
s06_visualization_main();
{% endraw %}