{% raw %}
% {{ purpose }} code

base_path = fullfile(fileparts(mfilename('fullpath')), '..');
raw_data = fullfile(base_path, 'data', '00_raw');
interim_data = fullfile(base_path, 'data', '01_interim');
processed_data = fullfile(base_path, 'data', '02_processed');

function {{ script_name }}_main()
    % {{ purpose }} code
    disp('Running {{ script_name }}...');
end

if ~isdeployed
    {{ script_name }}_main();
end
{% endraw %}