{% raw %}
% {{ purpose }} code

function {{ script_name }}()
    % {{ purpose }} code
    paths = get_paths();
    disp('Running {{ script_name }}...');
end

if ~isdeployed
    {{ script_name }}();
end
{% endraw %}