* s05_modeling.do

program define s05_modeling
    ensure_dir "$processed_data"

    use "$interim_data/mtcars_interim.dta", clear

    regress mpg wt hp
    estimates store model1
    estimates save "$processed_data/model1", replace

    display "Modeling complete."
end
