* s06_visualization.do

program define s06_visualization
    ensure_dir "$figures_path"

    use "$interim_data/mtcars_interim.dta", clear

    regress mpg wt hp
    predict mpg_hat

    twoway (scatter mpg wt) (line mpg_hat wt), ///
        title("Actual vs Predicted MPG") ///
        xtitle("Weight") ytitle("MPG")

    graph export "$figures_path/mpg_prediction_plot.png", replace
    display "Visualization complete."
end
