# Main: Running all steps in order

# Install dependencies
source('s01_install_dependencies.R')
s01_install_dependencies()

# Load utilities
source("s02_utils.R")  # <- shared functions, not a step

# Load Scripts
source('s03_data_collection.R')
source('s04_preprocessing.R')
source('s05_modeling.R')
source('s06_visualization.R')

## Run data collection
s03_data_collection()

## Run preprocessing
s04_preprocessing()

## Run modeling
s05_modeling()

## Run visualization
s06_visualizationn()
