
library(palmerpenguins)
source("s02_utils.R")

base_path <- normalizePath(file.path(dirname(sys.frame(1)$ofile), ".."))
raw_data <- file.path(base_path, "data", "00_raw")

ensure_dir(raw_data)
save_rds(penguins, file.path(raw_data, "penguins_raw.rds"))

cat("Data collection complete.\n")