library(dplyr)
source("s02_utils.R")

base_path <- normalizePath(file.path(dirname(sys.frame(1)$ofile), ".."))
raw_data <- file.path(base_path, "data", "00_raw")
interim_data <- file.path(base_path, "data", "01_interim")

ensure_dir(interim_data)
penguins <- load_rds(file.path(raw_data, "penguins_raw.rds"))

penguins_clean <- penguins %>%
  filter(!is.na(body_mass_g), !is.na(flipper_length_mm), !is.na(bill_length_mm)) %>%
  select(body_mass_g, flipper_length_mm, bill_length_mm)

save_rds(penguins_clean, file.path(interim_data, "penguins_clean.rds"))

cat("Preprocessing complete.\n")
