name: Python CI
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: {% raw %}{% RAW_MARKER %}${{ matrix.os }}{% END_RAW_MARKER %}{% endraw %} 
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: {% raw %}'{{ version }}'{% endraw %} 
      - run: pip install -r requirements.txt
      - run: pytest