{% raw %}
%% Workflow: Running All Steps in Order
% MATLAB Setup
addpath(fullfile(pwd, 'src'));
run('s01_install_dependencies.m');

%% Run Data Collection
data_collection();

%% Run Preprocessing
preprocessing();

%% Run Modeling
modeling();

%% Run Visualization
visualization();
{% endraw %}