[project]
name = "{{cookiecutter.project_name}}"
version = "{{cookiecutter.version}}"
description = "Insert project description here"
dependencies = []
requires-python = ">=3.9"

[tool.uv]

# ============================================================
# Project template metadata
# Replaces: .cookiecutter
# Used for documentation, reproducibility, and scaffolding
# ============================================================
[tool.cookiecutter]
PROJECT_NAME = ""
REPO_NAME = ""
PROJECT_DESCRIPTION = "Insert project description here"
VERSION = "0.0.1"
AUTHORS = "Your Name"
ORCIDS = "Provide your ORCID"
EMAIL = "Provide your email"
CODE_LICENSE = "MIT"
DOC_LICENSE = "CC-BY-4.0"
DATA_LICENSE = "CC-BY-4.0"
PROGRAMMING_LANGUAGE = "Python"
PYTHON_ENV_MANAGER = "Venv"
VERSION_CONTROL = "None"
REMOTE_BACKUP = "None"
REMOTE_STORAGE = "None"
CODE_REPO = "None"
PYTHON_VERSION = "None"


# ============================================================
# Defines the dataset folders to be included in data management
# ============================================================
[tool.datasets]
patterns = [
  "data/*"
]

# ============================================================
# Ignore patterns for remote sync tools like Rclone
# Replaces: .rcloneignore
# ============================================================
[tool.rcloneignore]
patterns = [
  "bin/",
  ".venv/",
  ".conda/"
]

# ============================================================
# Ignore patterns for file tree visualizations
# Replaces: .treeignore
# ============================================================
[tool.treeignore]
patterns = [
  "bin/",
  "utils/",
  ".conda/",
  ".venv/",
  "renv/",
  ".git/",
  ".github/",
  ".datalad/",
  ".gitkeep",
  ".env",
  "__pycache__",
  "repokit/",
  "repokit.egg-info/",
]

# FIXME Add patterns for files to move during dcas migration instead of hardcoding in dcas.py:main()
# ============================================================
# Files to move performing dcas migration
# ============================================================
[tool.dcas]
patterns = [
  "README.md",
  "docs",
  "results",
  "uv.lock",
  "environment.yml",
  "requirements.txt",
  "dmp.json",
]

# ============================================================
# Maps Python packages to OS platforms for conditional installs
# Replaces: platform_rules.json
# ============================================================
[tool.platform_rules]
pywin32 = "win32"
pypiwin32 = "win32"
pywinpty = "win32"
wmi = "win32"
pync = "darwin"
pyobjc = "darwin"
dbus-python = "linux"
pygobject = "linux"
pyudev = "linux"

# ============================================================
# Descriptions for key project files and directories
# Replaces: file_descriptions.json
# Used for UI, automation, and documentation
# ============================================================
[tool.file_descriptions]
